.gray{
    background-color: gray;
    text-align: center;
}

.bg-red{
    text-align: center;


    
}

.left, .right {
    height: 65vh;
}

.yelow{
    text-align: center;
}

.blue{
    text-align: center;
}